*{
    background-color: rgb(120, 1, 1);
}

h1 {
    letter-spacing: 0.055em;
    font-family:  'Times New Roman', Times, serif, serif;
    font-size: 10vw;
    text-align: center;
    line-height: 0.5em;
    color: white;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: 'Times New Roman', Times, serif, serif;
    letter-spacing: 0.02em;
    font-weight: 300;
    font-size: 0.9em;
    text-align: center;
    line-height: -9em;
    color: white;
    text-transform: uppercase;
}
.thepresident{
    color: white;
    font-weight: bold;
}
.goback button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    position: fixed;
    color: rgb(255, 255, 255);
    bottom: 20px;
    height: 75px;
    width: 75px;
}
.everythingcontainer {
    display: flex;
    position: absolute;
    top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Times New Roman', Times, serif, serif;
    font-weight: 100;
    letter-spacing: 0.02em;
    word-spacing: -0.05em;
    font-size: 0.7em;
    align-items: center;
    text-align: justify center;
    line-height: 1.5em;
    color: white;
}
.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: white;
    font-size: 8px;
    text-align: center;
    margin: 0;
}

.ascii-whitehouse {
    font-family: monospace;
    white-space: pre;
    color: white;
    font-size: 4px;
    text-align: center;
    margin: 0;
}

button {
    cursor:pointer;
    border-style: none;
}

@keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

.blinking-text {
            text-align: center;
            margin-top: 4em;
            animation: blink 2s infinite;
        }
.fast-blinking-text {
            text-align: center;
            margin-top: 4em;
            animation: blink 1.5s infinite;
        }
.faster-blinking-text {
            text-align: center;
            margin-top: 4em;
            animation: blink 1s infinite;
        }
.fasterer-blinking-text {
            text-align: center;
            margin-top: 4em;
            animation: blink 0.75s infinite;
        }
.fastererer-blinking-text {
            text-align: center;
            margin-top: 4em;
            animation: blink 0.5s infinite;
        }

.home button{
    font-size: 1em;
    padding-top:-2em;
    color: white;
    font-family: times, serif;
    font-weight:800;
    letter-spacing: 0.4em;
}

.two button{
    padding-top:-2em;
    color: white;
    font-family: times, serif;
    font-weight:800;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.four button{
    font-size: 5vh;
    padding-top:-2em;
    color: rgb(255, 244, 244);
    font-family: times, serif;
    font-weight:800;
}

.five button{
    font-size: 6vh;
    padding-top:-2em;
    color: rgb(255, 183, 183);
    font-family: times, serif;
    font-weight:800;
}

.six button{
    font-size: 7vh;
    padding-top:-2em;
    color: rgb(253, 167, 167);
    font-family: times, serif;
    font-weight:900;
}

.seven button{
    font-size: 8vh;
    padding-top:-2em;
    color: rgb(255, 137, 137);
    font-family: times, serif;
    font-weight:900;
}

.eight button{
    font-size: 13vh;
    margin-top:-5em;
    color: rgb(85, 255, 0);
    font-family: times, serif;
    font-weight:1000;
}

.nine button{
    text-align: center; font-size: 50px;
            background: linear-gradient(to left,violet,
            indigo, blue, green, yellow, orange, red);
            -webkit-background-clip: text;
            color: transparent;
}

.thepresident {
    padding-top: 2em;
    font-family: times, serif;
    font-weight: 400;
    font-size: 2vh;
    text-align:center;

}

.rainbow-gradient button{
    margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 6rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-shadow button{
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
}